;; This file only exists in order to unit test the library on ClojureScript.
;; All build & deployment tasks are implemented with tools.build (ClojureJVM).

; To run the tests:
;
;  $ npx shadow-cljs compile test
;  $ node target/cljs/api-test-node.js
;

{:source-paths
 ["src"
  "test"]

 :dependencies
 []

 :builds
  {:test
   {:target    :node-test
    :output-to "target/cljs/api-test-node.js"}}}
