;; This file only exists in order to unit test the library on ClojureScript.
;; All build & deployment tasks are implemented with tools.build (ClojureJVM).

; To run the tests:
;
;  $ npx shadow-cljs compile test
;  $ node --enable-source-maps target/cljs/api-test-node.js
;

{:source-paths
 ["src"
  "test"]

 :dependencies
 [[net.cgrand/macrovich "0.2.2" :scope "test"]]  ; If this changes, also make sure to update it in pbr.clj!

 :builds
  {:test
   {:target    :node-test
    :output-to "target/cljs/unit-tests.js"}}}
